@import "tailwindcss";

@theme {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-orbitron: "Orbitron", sans-serif;
  --font-bruno-ace: "Bruno Ace", sans-serif;
  --font-quantico: "Quantico", sans-serif;
  --font-audiowide: "Audiowide", sans-serif;
  --font-tourney: "Tourney", sans-serif;
  --font-geostar-fill: "Geostar Fill", sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden !important;
}

.banner {
  background-image: url("/icons/huh.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  height: max-content;
  /* background-color: rgb(255, 255, 255, 0.6); */
}
.college-logo {
  background-image: url("/icons/college-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* width: 100%; */
  height: 20rem;
  filter: invert(100%);
}
